 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 style="text-align: center;">Welcome Admin</h1>
   <div class="container mt-5">
		<div class="row">
			<div class=" col-12 " style="background-color: aliceblue;">
				<h1 style="text-align: center; background-color: cornflowerblue; color: white;"> user List</h1>
				<table width="100%" border="1">
				    <tr>
				        <th width="1%"></th>
				        <th width="1%"></th>
				        <th>NAME</th>
				        <th>MOBILE</th>
				        <th>EMAIL</th>
				        <th>PASSWORD</th>
				    </tr>
            {% for data in user_data %}
				    <tr>
				        <td><a href="/edit_user?id={{data.id}}"><button style="background-color: darkcyan; color: white;">Edit</button></a></td>
				        <td><a href="/delete_user?id={{data.id}}"><button style="background-color: red; color: white;">Delete</button></a></td>
				        <td>{{data.user_name}}</td>
				        <td>{{data.user_mobile}}</td>
				        <td>{{data.user_email}}</td>
				        <td>{{data.user_password}}</td>
				    </tr>
				    {% endfor %}
				</table>
			</div>
		</div>
	</div>  
</body>
</html> 